@import '~antd/dist/antd.css';

.App {
  min-height: 100%;
}

.App-header {
  overflow: hidden;
  background: #001529;
  padding-right: 70px;
}

.logo{
  background: url(./images/logo1.png);
  float: left;
  background-size: cover;
  width: 100px;
  height: 46px;
  background-repeat: no-repeat;
  margin-left: 40px;
}

.App-header  .ant-menu{
  float: right;
}


.App-content {
  
}


.App-content-title {
  font-weight: 700;
  font-size: 16px;
  margin-top: 16px;
}


.home {
  height: 628px;
  background-image: url(../src/images/home2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #fff; */
  color: #000000e3;
}

.homeInner {
  padding-right: 400px;
  text-align: right;
}

.home .name{
  font-size: 70px;
  display: flex;
  flex-direction: column;
  line-height: 70px;
  text-align: left;
}

.home .name .first{
  font-size: 26px;
  /* color: #0fb9f3; */
  /* color: rgba(255, 255, 255, 1); */

}

.home .occ{
  font-size: 36px;
}

.App-content-description{
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 68px;
  background-color: #00a5bb;
  color: #fff;
  position: relative;
  height: 628px;
  background: url(../src/images/san-diego-114337.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.App-content-description  .video{
  width: 100%;
  height: 100%;
}


.videoWrap{
  position: relative;
  width: 900px;
  height: 500px;
}

#canvasRoot {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 0;
  left: 0;
}


.App-footer {
  height: 250px;
  background-color: #000;
  text-align: center;
  color: #fff;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 16px;
  padding: 16px;
  padding-top: 30px;
  border-top: 1px solid #333;
}

.App-footer-item {
  margin: 0 12px;
  width: 250px;
  height: 100%;
  padding:0 16px;
}

.item-header {
  text-align: left;
}

.App-footer-item-about {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.App-footer-item a{
  color: #fff;
}

.item-content{
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.item-content a{
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  text-align: left;
}

.App-footer-item span {
  text-align: left;
}


.App-footer-item-title{
  margin-left: 5px
}


.dmWrap {
  width: 20%;
  position: absolute;
  right: 12px;
  height: 80%;
  display: flex;
  flex-direction: column;
  top: 60px;
}

.dmWrap .dmContent {
  /* flex: 1 1 auto; */
  height: 90%;
  overflow-y: hidden;
}

.dmContent .ant-tabs{
  height: 100%;
}

.dmContent .ant-tabs-content {
  height: 80%;
}

.dmContent .ant-tabs-tabpane{
  overflow-y: hidden;
  height: 100%;
}
.itemWrap {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.dmWrap .dmFooter{
  height: 50px;
  display: flex;
}


.dmWrap .ant-tabs-nav .ant-tabs-tab-active{
  color: #fff;
}




@media screen and (max-width: 750px) {
    
  .App-content-description  .video{
    width: 100%;
  }

  .App-footer {
    flex-direction: column;
    height: 100px;
    font-size: 14px;
  }
  .App-footer-item {
    width: 250px;
    text-align: left;
  }

}